<app-letras></app-letras>
<br/>
<app-letras></app-letras>
<br/>
<app-letras></app-letras>

Exemplo sem @Input()
<div class="container">
    <span *ngFor="let pessoa of listaPessoas">
        <em>{{pessoa.codigo}}</em> - <strong>{{pessoa.nome}}</strong> <br/>
    </span>
</div>
<hr/>
Com @Input()
<div class="container">
    <app-ex-bind-input-child [alias]="pessoa" *ngFor="let pessoa of listaPessoas">
    </app-ex-bind-input-child>
</div>
<hr/>
Com @Output() 2
<div class="container">
   <!-- <app-ex-bind-input-emiter (objEmiter) = "getEmiterChildObj($event)"></app-ex-bind-input-emiter> -->
    <app-ex-bind-input-emiter (msgEmiter) = "getEmiterChild($event)" (objEmiter) = "getEmiterChildObj($event)" ></app-ex-bind-input-emiter>
    <span>
       From Emiter msg {{msgEmiter || 'nada digitado'}} <br/>
       From Emiter obj {{objEmiter | json}}
    </span>
</div>
